$color-primary: #555b6e;
$color-secondary: #bee3db;
$color-dark: #000;

.main {
  margin-top: 2rem;
}

.thumbnailImg {
  width: 25%;
  height: auto;
}

.sliderContainer {
  display: flex;
  justify-content: center;
  transition: 0.2s transform ease-in-out;
  width: 100%;
}

.slider {
  display: flex;
  flex-grow: 1;
  width: calc(100% - 10rem);
  transition: 0.2s transform ease-in-out;
}

.slider li {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0.25rem;
  border-radius: 1rem;
  // margin: 0 0.25rem;
  transition: 0.2s transform ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.slider img {
  width: 100%;
  // flex: 0 0 25%;
  // max-width: 25%;
  // aspect-ratio: 16 / 9;
  // padding: 0.25rem;
  border-radius: 1rem;
  // margin: 0 0.25rem;
}

.sliderBtn {
  border: none;
  cursor: pointer;
  flex-grow: 0;
  z-index: 1;
  margin: 0.25rem 0;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.25);
  transition: 0.2s all ease-in-out;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 6rem;
  }
}

.sliderBtn:first-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sliderBtn:last-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.header span {
  font-size: 10px;
  letter-spacing: 1px;
  font-style: italic;
}

.logo {
  background-image: linear-gradient(
    90deg,
    $color-secondary 0%,
    $color-primary 99%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 20px;
}

.thumbnailContainer {
  display: flex;
}

.linkBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-primary;
  border: 1px solid $color-secondary;
  padding: 0.5rem 1rem;
  width: 100px;
  transition: 0.2s all ease-in-out;
  &:hover {
    background: $color-secondary;
    color: $color-dark;
    transform: translateY(-2px);
  }
  &:focus {
    background: $color-primary;
    transform: translateY(0px);
  }
}

.moviePageContainer {
  padding: 2rem;
}

.moviePageTitle,
.moviePagePlot {
  margin: 1rem 0;
}

.moviePageRatings {
  display: flex;
  justify-content: space-between;
}

.moviePageRatings li {
  margin: 1rem 0;
}

@media (max-width: 400px) {
  .header {
    font-size: 14px;
  }

  .header sub {
    display: none;
  }
}
